@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  background-color: white;
  font-family: "Jost", sans-serif;
}

.custom_container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 60px;
}
@media (max-width: 1440px) {
  .custom_container {
    padding: 0 60px;
  }
}
@media (max-width: 576px) {
  .custom_container {
    padding: 0 20px;
  }
}

.green_text {
  color: #abca37;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media (max-width: 1440px) {
  .green_text {
    font-size: 12px;
  }
}

.main_title_text {
  color: #292929;
  font-size: 39px;
  font-weight: 700;
}
@media (max-width: 1440px) {
  .main_title_text {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .main_title_text {
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .main_title_text {
    font-size: 20px;
  }
}

.sub_title_text {
  color: #292929;
  font-size: 20px;
  font-weight: 700;
}
@media (max-width: 1440px) {
  .sub_title_text {
    font-size: 16px;
  }
}

.contact_title_text {
  color: #292929;
  font-size: 25px;
  font-weight: 400;
}
@media (max-width: 992px) {
  .contact_title_text {
    font-size: 18px;
  }
}

.pera_text {
  color: #868686;
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  letter-spacing: 0.5px;
}
@media (max-width: 1440px) {
  .pera_text {
    font-size: 12px;
  }
}

.section_gap {
  padding: 80px 0;
}
@media (max-width: 1200px) {
  .section_gap {
    padding: 40px 0;
  }
}
@media (max-width: 576px) {
  .section_gap {
    padding: 20px 0;
  }
}

.whats-app-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.main_section {
  padding-bottom: 80px;
  position: relative;
}
@media (max-width: 1200px) {
  .main_section {
    padding-bottom: 40px;
  }
}
@media (max-width: 576px) {
  .main_section {
    padding-bottom: 20px;
  }
}

.aboutus_hero_section {
  background-image: url("../images/mix_fruite_bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  transform: translateZ(0);
  background-position: bottom;
}

/* ---------- GRID ---------- */
.grid {
  position: absolute;
  inset: 0;
  background-size: 80px 80px;
  opacity: 0.6;
}

/* ---------- CORNER DOTS ---------- */
.check-pattern {
  position: absolute;
  inset: 0;
  pointer-events: none;
  background-image: radial-gradient(circle at 0 0, #fac62a 3px, transparent 4px), radial-gradient(circle at 80px 0, #fac62a 3px, transparent 4px), radial-gradient(circle at 0 80px, #fac62a 3px, transparent 4px), radial-gradient(circle at 80px 80px, #fac62a 3px, transparent 4px);
  background-size: 80px 80px;
  mask-image: radial-gradient(circle var(--size, 0px) at var(--x, 0px) var(--y, 0px), black 40%, transparent 80%);
  -webkit-mask-image: radial-gradient(circle var(--size, 0px) at var(--x, 0px) var(--y, 0px), black 40%, transparent 80%);
  transition: all 0.25s ease;
}

/* ---------- ICONS ---------- */
.icons {
  position: absolute;
  inset: 0;
  pointer-events: none;
  mask-image: radial-gradient(circle var(--size, 0px) at var(--x, 0px) var(--y, 0px), black 40%, transparent 80%);
  -webkit-mask-image: radial-gradient(circle var(--size, 0px) at var(--x, 0px) var(--y, 0px), black 40%, transparent 80%);
}

/* icon style */
.icon {
  position: absolute;
  width: 70px;
  opacity: 0.9;
  animation: float 6s ease-in-out infinite;
}

/* ---- TOP LEFT ---- */
.icon:nth-child(1) {
  top: 5%;
  left: 6%;
  transform: rotate(-15deg);
}

.icon:nth-child(2) {
  top: 15%;
  left: 18%;
  transform: rotate(12deg);
}

/* ---- TOP RIGHT ---- */
.icon:nth-child(3) {
  top: 8%;
  right: 10%;
  transform: rotate(-10deg);
}

.icon:nth-child(4) {
  top: 20%;
  right: 4%;
  transform: rotate(18deg);
}

/* ---- BOTTOM LEFT ---- */
.icon:nth-child(5) {
  bottom: 10%;
  left: 8%;
  transform: rotate(8deg);
}

.icon:nth-child(6) {
  bottom: 18%;
  left: 20%;
  transform: rotate(-14deg);
}

/* ---- BOTTOM RIGHT ---- */
.icon:nth-child(7) {
  bottom: 12%;
  right: 12%;
  transform: rotate(16deg);
}

.icon:nth-child(8) {
  bottom: 22%;
  right: 5%;
  transform: rotate(-12deg);
}

/* floating animation */
@keyframes float {
  0% {
    transform: translateY(0px) rotate(var(--r, 0deg));
  }
  50% {
    transform: translateY(-15px) rotate(var(--r, 0deg));
  }
  100% {
    transform: translateY(0px) rotate(var(--r, 0deg));
  }
}
/* icon positions */
.main-header {
  position: sticky;
  top: 0;
  z-index: 9999;
}
.main-header .main-navbar {
  background: white;
  border-radius: 8px;
  padding: 10px 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.main-header .navbar {
  padding: 16px 0;
  position: relative;
}
.main-header .navbar-brand img {
  max-height: 45px;
}
@media (max-width: 576px) {
  .main-header .navbar-brand img {
    max-height: 30px;
  }
}
.main-header .nav-link {
  color: #222;
  font-weight: 500;
  margin: 0 12px;
  transition: color 0.3s ease;
}
.main-header .nav-link:hover, .main-header .nav-link.active {
  color: #7dba4e;
}
@media (max-width: 1440px) {
  .main-header .nav-link {
    font-size: 14px;
  }
}
.main-header .header-btn .contact_btn {
  padding: 10px 22px;
  border-radius: 30px;
  font-weight: 600;
  background-color: #7dba4e;
  border: none;
  color: white;
  text-decoration: none;
}
.main-header .header-btn .contact_btn:hover {
  background-color: #7dba4e;
}
@media (max-width: 1440px) {
  .main-header .header-btn .contact_btn {
    font-size: 12px;
  }
}

.navbar-toggler-icon {
  width: 25px !important;
  height: 20px !important;
}
@media (max-width: 576px) {
  .navbar-toggler-icon {
    width: 20px !important;
    height: 15px !important;
  }
}

.navbar-toggler {
  border: none !important;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}

/* Mobile adjustments */
@media (max-width: 991px) {
  .main-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    margin: 0 20px;
  }
  .main-header .navbar-collapse {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
  }
  .main-header .nav-link {
    margin: 0px 0px;
    text-align: center;
    font-size: 12px;
  }
  .main-header .header-btn {
    text-align: center;
    margin-top: 15px;
  }
}
.hero-section {
  display: flex;
  align-items: center;
  min-height: 500px;
  padding: 100px 0;
  z-index: 1;
  position: relative;
  text-align: center;
}
@media (max-width: 992px) {
  .hero-section {
    padding: 60px 0;
  }
}
@media (max-width: 768px) {
  .hero-section {
    padding: 60px 0;
  }
}
@media (max-width: 576px) {
  .hero-section {
    padding-top: 10px;
  }
}
.hero-section.aboutus_section {
  min-height: 350px;
}
@media (max-width: 992px) {
  .hero-section.aboutus_section {
    min-height: 300px;
  }
}
.hero-section .main_heading {
  font-size: 69px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 100px;
  z-index: 1;
  position: relative;
}
@media (max-width: 1440px) {
  .hero-section .main_heading {
    font-size: 56px;
  }
}
@media (max-width: 1200px) {
  .hero-section .main_heading {
    font-size: 48px;
  }
}
@media (max-width: 992px) {
  .hero-section .main_heading {
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 60px;
  }
}
@media (max-width: 768px) {
  .hero-section .main_heading {
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  .hero-section .main_heading {
    font-size: 24px;
    margin-bottom: 50px;
    margin-top: 120px;
  }
}
.hero-section .main_ac_heading {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 1440px) {
  .hero-section .main_ac_heading {
    font-size: 40px;
  }
}
@media (max-width: 992px) {
  .hero-section .main_ac_heading {
    font-size: 32px;
  }
}

.main_display_img {
  position: relative;
  height: 420px;
}
@media (max-width: 576px) {
  .main_display_img {
    height: 300px;
  }
}

.yellow-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  z-index: 0;
}

.yellow-bg img {
  width: 650px;
}
@media (max-width: 992px) {
  .yellow-bg img {
    width: 580px;
  }
}
@media (max-width: 768px) {
  .yellow-bg img {
    width: 460px;
  }
}
@media (max-width: 576px) {
  .yellow-bg img {
    width: 330px;
  }
}

.yellow-bg.show {
  animation: bgZoom 1.2s ease forwards;
}

@keyframes bgZoom {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
/* Wrapper controls position */
.bottle-wrap {
  position: absolute;
  top: -500px;
  opacity: 0;
}

/* Final positions */
.bottle-left {
  left: 9%;
  z-index: 2;
}
@media (max-width: 1440px) {
  .bottle-left {
    left: 9%;
  }
}
@media (max-width: 1200px) {
  .bottle-left {
    left: 4%;
  }
}
@media (max-width: 992px) {
  .bottle-left {
    left: 4%;
  }
}

.bottle-center {
  left: 33%;
  transform: translateX(-50%);
  z-index: 3;
}
@media (max-width: 1440px) {
  .bottle-center {
    left: 33%;
  }
}
@media (max-width: 1200px) {
  .bottle-center {
    left: 33%;
  }
}
@media (max-width: 992px) {
  .bottle-center {
    left: 33%;
  }
}
@media (max-width: 768px) {
  .bottle-center {
    left: 31%;
  }
}

.bottle-right {
  right: 10%;
  z-index: 2;
}
@media (max-width: 1440px) {
  .bottle-right {
    right: 10%;
  }
}
@media (max-width: 1200px) {
  .bottle-right {
    right: 2%;
  }
}
@media (max-width: 992px) {
  .bottle-right {
    right: 2%;
  }
}

/* Bottle image */
.bottle {
  width: 270px;
}
@media (max-width: 1440px) {
  .bottle {
    width: 220px;
  }
}
@media (max-width: 992px) {
  .bottle {
    width: 180px;
  }
}
@media (max-width: 768px) {
  .bottle {
    width: 160px;
  }
}
@media (max-width: 576px) {
  .bottle {
    width: 120px;
  }
}

/* Animation */
.bottle-wrap.show {
  animation: dropSmooth 0.9s ease forwards;
}

@keyframes dropSmooth {
  0% {
    top: -500px;
    opacity: 0;
    transform: scale(0.7);
  }
  60% {
    top: 20px;
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    top: 0;
    opacity: 1;
    transform: scale(1);
  }
}
.about_section {
  background-image: url("../images/palm-leaves-bg.jpg");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 30% auto;
}

.about_we_section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 992px) {
  .about_we_section {
    flex-direction: column;
  }
}
.about_we_section .about_details_section {
  padding: 48px 80px 48px 16px;
  max-width: 600px;
}
@media (max-width: 1200px) {
  .about_we_section .about_details_section {
    padding: 48px 40px 48px 16px;
  }
}
@media (max-width: 992px) {
  .about_we_section .about_details_section {
    padding: 20px;
  }
}
.about_we_section .about_image {
  position: relative;
}
.about_we_section .about_image img {
  max-width: 684px;
  border-radius: 12px;
}
@media (max-width: 1440px) {
  .about_we_section .about_image img {
    max-width: 500px;
  }
}
@media (max-width: 1200px) {
  .about_we_section .about_image img {
    max-width: 450px;
  }
}
@media (max-width: 576px) {
  .about_we_section .about_image img {
    max-width: 280px;
  }
}

.product_ul_list {
  margin: 40px 0 0 0;
  padding: 0;
}
@media (max-width: 992px) {
  .product_ul_list {
    margin: 28px 0 0 0;
  }
}
.product_ul_list .product_li_list {
  list-style: none;
  margin: 20px 0;
}
.product_ul_list .product_li_list .product_fresh_info {
  display: flex;
  align-items: start;
  gap: 15px;
}
.product_ul_list .product_li_list .product_fresh_info .info_vector_img {
  background-color: #abca37;
  border-radius: 50%;
  padding: 16px;
}
@media (max-width: 1440px) {
  .product_ul_list .product_li_list .product_fresh_info .info_vector_img {
    padding: 12px;
  }
}
@media (max-width: 576px) {
  .product_ul_list .product_li_list .product_fresh_info .info_vector_img {
    padding: 8px;
  }
}

.Featured_product {
  margin: 0 auto;
}
.Featured_product .flavour_detail {
  padding: 100px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 1200px) {
  .Featured_product .flavour_detail {
    padding: 80px 0;
  }
}
@media (max-width: 768px) {
  .Featured_product .flavour_detail {
    flex-direction: column;
    gap: 60px;
  }
}
.Featured_product .flavour_detail .flavour_card {
  position: relative;
}
.Featured_product .flavour_detail .flavour_card .price_tag {
  position: absolute;
  left: -93px;
  top: -26px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 130px;
  min-height: 130px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  transform: rotate(-20deg);
  transition: transform 0.6s ease-in-out;
  cursor: pointer;
}
.Featured_product .flavour_detail .flavour_card .price_tag:hover {
  transform: rotate(0deg);
}
@media (max-width: 1440px) {
  .Featured_product .flavour_detail .flavour_card .price_tag {
    min-width: 100px;
    min-height: 100px;
  }
}
@media (max-width: 1200px) {
  .Featured_product .flavour_detail .flavour_card .price_tag {
    min-width: 80px;
    min-height: 80px;
    left: -60px;
    top: -5px;
  }
}
@media (max-width: 992px) {
  .Featured_product .flavour_detail .flavour_card .price_tag {
    min-width: 60px;
    min-height: 60px;
  }
}
@media (max-width: 576px) {
  .Featured_product .flavour_detail .flavour_card .price_tag {
    left: -50px;
    top: 15px;
  }
}
.Featured_product .flavour_detail .flavour_card .price_tag .pr_value {
  color: #abca37;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin: 0;
}
@media (max-width: 1440px) {
  .Featured_product .flavour_detail .flavour_card .price_tag .pr_value {
    font-size: 34px;
  }
}
@media (max-width: 1200px) {
  .Featured_product .flavour_detail .flavour_card .price_tag .pr_value {
    font-size: 28px;
  }
}
@media (max-width: 1200px) {
  .Featured_product .flavour_detail .flavour_card .price_tag .pr_value {
    font-size: 22px;
  }
}
.Featured_product .flavour_detail .flavour_card .price_tag .pr_volume {
  color: #868686;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  margin: 0;
}
@media (max-width: 992px) {
  .Featured_product .flavour_detail .flavour_card .price_tag .pr_volume {
    font-size: 10px;
  }
}
.Featured_product .flavour_detail .flavour_card .f_crd_img .bottle_img {
  max-height: 500px;
  max-width: 360px;
  transform: rotate(0deg);
  transition: transform 0.6s ease-in-out;
  cursor: pointer;
}
.Featured_product .flavour_detail .flavour_card .f_crd_img .bottle_img:hover {
  transform: rotate(-10deg) scale(1.1);
}
@media (max-width: 1440px) {
  .Featured_product .flavour_detail .flavour_card .f_crd_img .bottle_img {
    max-height: 400px;
  }
}
@media (max-width: 1200px) {
  .Featured_product .flavour_detail .flavour_card .f_crd_img .bottle_img {
    max-height: 350px;
  }
}
@media (max-width: 992px) {
  .Featured_product .flavour_detail .flavour_card .f_crd_img .bottle_img {
    max-height: 250px;
  }
}
@media (max-width: 768px) {
  .Featured_product .flavour_detail .flavour_card .f_crd_img .bottle_img {
    max-height: 400px;
  }
}
@media (max-width: 576px) {
  .Featured_product .flavour_detail .flavour_card .f_crd_img .bottle_img {
    max-height: 300px;
  }
}
.Featured_product .flavour_detail .flavour_card .fruit_img {
  position: absolute;
  right: -80px;
  bottom: -100px;
}
.Featured_product .flavour_detail .flavour_card .fruit_img img {
  width: 300px;
}
.Featured_product .flavour_detail .flavour_card .fruit_img img.mango_img {
  width: 250px;
}
@media (max-width: 1440px) {
  .Featured_product .flavour_detail .flavour_card .fruit_img img.mango_img {
    width: 200px;
  }
}
@media (max-width: 1200px) {
  .Featured_product .flavour_detail .flavour_card .fruit_img img.mango_img {
    width: 150px;
  }
}
@media (max-width: 992px) {
  .Featured_product .flavour_detail .flavour_card .fruit_img img.mango_img {
    width: 100px;
  }
}
@media (max-width: 768px) {
  .Featured_product .flavour_detail .flavour_card .fruit_img img.mango_img {
    width: 200px;
  }
}
@media (max-width: 1440px) {
  .Featured_product .flavour_detail .flavour_card .fruit_img img {
    width: 250px;
  }
  .Featured_product .flavour_detail .flavour_card .fruit_img {
    bottom: -80px;
  }
}
@media (max-width: 1200px) {
  .Featured_product .flavour_detail .flavour_card .fruit_img img {
    width: 200px;
  }
  .Featured_product .flavour_detail .flavour_card .fruit_img {
    bottom: -50px;
  }
}
@media (max-width: 1200px) {
  .Featured_product .flavour_detail .flavour_card .fruit_img img {
    width: 150px;
  }
  .Featured_product .flavour_detail .flavour_card .fruit_img {
    bottom: -35px;
    right: -70px;
  }
}
@media (max-width: 768px) {
  .Featured_product .flavour_detail .flavour_card .fruit_img img {
    width: 250px;
  }
  .Featured_product .flavour_detail .flavour_card .fruit_img {
    bottom: -30px;
  }
}

.our_store_details {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 1200px) {
  .our_store_details {
    gap: 24px;
  }
}
@media (max-width: 768px) {
  .our_store_details {
    flex-direction: column;
  }
}
.our_store_details .store_image_info {
  max-width: 600px;
}
.our_store_details .store_image_info img {
  width: -webkit-fill-available;
}
@media (max-width: 1440px) {
  .our_store_details .store_image_info {
    max-width: 500px;
  }
}
@media (max-width: 1200px) {
  .our_store_details .store_image_info {
    max-width: 400px;
  }
}
@media (max-width: 992px) {
  .our_store_details .store_image_info {
    max-width: 300px;
  }
}
@media (max-width: 768px) {
  .our_store_details .store_image_info {
    order: 2;
  }
}
.our_store_details .store_details_info {
  max-width: 550px;
}
@media (max-width: 768px) {
  .our_store_details .store_details_info {
    order: 1;
  }
}

.motivational_section {
  background-image: url("../images/neacter_background_img.png");
  background-repeat: repeat;
  background-size: cover;
  padding: 120px 0px;
  background-position: center;
}
@media (max-width: 992px) {
  .motivational_section {
    background-position: right;
  }
}
@media (max-width: 576px) {
  .motivational_section {
    padding: 32px 0px;
  }
}
.motivational_section .motivation_line {
  font-size: 76px;
  font-weight: 700;
  color: white;
  max-width: 600px;
}
@media (max-width: 1440px) {
  .motivational_section .motivation_line {
    font-size: 56px;
  }
}
@media (max-width: 1200px) {
  .motivational_section .motivation_line {
    font-size: 48px;
  }
}
@media (max-width: 992px) {
  .motivational_section .motivation_line {
    font-size: 36px;
  }
}

.choose_company {
  display: flex;
  justify-content: space-around;
  align-items: start;
  gap: 50px;
}
@media (max-width: 992px) {
  .choose_company {
    flex-direction: column;
    gap: 10px;
  }
}
.choose_company .company_details {
  width: 70%;
}
@media (max-width: 576px) {
  .choose_company .company_details {
    width: 100%;
  }
}

.footer_section {
  background-color: #9abf2f;
}

/* Footer Wrapper */
.happy-footer {
  background-color: #9abf2f;
  padding: 100px 20px 40px;
  text-align: center;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 768px) {
  .happy-footer {
    padding: 80px 20px 40px;
  }
}

/* Content Container */
.footer-content {
  max-width: 900px;
  margin: auto;
}

/* Logo */
.footer-logo {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 15px;
}
@media (max-width: 1440px) {
  .footer-logo {
    font-size: 40px;
  }
}
@media (max-width: 992px) {
  .footer-logo {
    font-size: 34px;
  }
}
@media (max-width: 576px) {
  .footer-logo {
    font-size: 28px;
  }
}

.footer-logo span {
  color: #ffd94d;
}

/* Tagline */
.footer-tagline {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}
@media (max-width: 1440px) {
  .footer-tagline {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .footer-tagline {
    font-size: 14px;
  }
}

/* Description */
.footer-text {
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 30px;
}
@media (max-width: 1440px) {
  .footer-text {
    font-size: 12px;
  }
}

/* Social Icons */
.footer-social {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 40px;
}

.footer-social a {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  transition: 0.3s ease;
  text-decoration: none;
}

.footer-social a:hover {
  background: #ffffff;
  color: #a9cf3a;
}

/* Divider Line */
.footer-divider {
  display: block;
  width: 100%;
  max-width: 700px;
  height: 1px;
  background: rgba(255, 255, 255, 0.4);
  margin: 0 auto 25px;
}

/* Copyright */
.footer-copy {
  font-size: 13px;
  opacity: 0.85;
}
@media (max-width: 1440px) {
  .footer-copy {
    font-size: 10px;
  }
}

.mission_details {
  background-color: #f5f4f5;
}
.mission_details .mission_cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  margin-top: 60px;
}
@media (max-width: 576px) {
  .mission_details .mission_cards {
    flex-direction: column;
  }
}
.mission_details .mission_cards .mission_card {
  padding: 24px 40px;
  border-radius: 18px;
  max-width: 600px;
}
.mission_details .mission_cards .mission_card .white_text {
  color: #fff;
}
.mission_details .mission_cards .mission_card.white_card {
  background-color: #fff;
  order: 2;
}
.mission_details .mission_cards .mission_card.green_card {
  order: 1;
  background-color: #9abf2f;
}
.mission_details .mission_cards .mission_card .icon_logos {
  background-color: #9abf2f;
  border-radius: 50%;
  padding: 12px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 14px;
}
.mission_details .mission_cards .mission_card .icon_logos.green_round {
  background-color: #fff;
}
.mission_details .mission_cards .mission_card .icon_logos img {
  width: 40px;
}
@media (max-width: 768px) {
  .mission_details .mission_cards .mission_card .icon_logos {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 768px) {
  .mission_details .mission_cards .mission_card {
    padding: 20px;
  }
}
@media (max-width: 992px) {
  .mission_details .mission_cards .mission_card {
    width: 50%;
  }
}
@media (max-width: 576px) {
  .mission_details .mission_cards .mission_card {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .mission_details .mission_cards {
    gap: 20px;
  }
}

.contact_section .contact_card {
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  padding: 24px 40px;
  border-radius: 12px;
}
.contact_section .contact_side_img img {
  max-width: 500px;
}
@media (max-width: 992px) {
  .contact_section .contact_side_img img {
    max-width: 350px;
  }
}
@media (max-width: 768px) {
  .contact_section .contact_side_img img {
    display: none;
  }
}
@media (max-width: 576px) {
  .contact_section .contact_side_img img {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */